<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.Manufacturer) !(bind.Property.ProductName)" />
    </StandardDirectory>
	  <StandardDirectory Id="ProgramMenuFolder">
		  <Directory Id="ApplicationProgramsFolder" Name="OverlayConfigUI">
			  <Component Id="RemoveApplicationProgramsFolder" Guid="*">
				  <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall"/>
				  <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="integer" Value="1" KeyPath="yes"/>
			  </Component> 
		  </Directory>
	  </StandardDirectory>
  </Fragment>
</Wix>
