<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="VNCOverlay" Manufacturer="SplendidChip758" Version="1.1.0.0" UpgradeCode="20d6429e-8cca-4630-b1e2-ae0a2aa17e79">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
	<MediaTemplate EmbedCab="yes"/>

    <Feature Id="Main">
		<ComponentRef Id="WPFApp" />
		<ComponentRef Id="WindowsFrom"/>
        <ComponentRef Id="WindowsService" />
		<ComponentRef Id="ConfigUIShortcut"/>
		<ComponentRef Id="RemoveApplicationProgramsFolder" />
		<ComponentRef Id="CleanupFiles"/>
		
    </Feature>

	  <!-- CustomAction to use WixShellExec for launching the application -->
	  <CustomAction Id="LaunchApplication"
					FileRef="WPFAppEXE"
					ExeCommand=""
					Execute="immediate"
					Return="asyncNoWait"
					Impersonate="no" />

	  <!-- Schedule the custom action to run after InstallFinalize -->
	  <InstallExecuteSequence>
		  <Custom Action="LaunchApplication" After="InstallFinalize" Condition="NOT REMOVE" />
	  </InstallExecuteSequence>
  </Package>
</Wix>