<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="VNCOverlay" Manufacturer="Analog Devices" Version="1.0.0.0" UpgradeCode="20d6429e-8cca-4630-b1e2-ae0a2aa17e79">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
	<MediaTemplate EmbedCab="yes"/>

    <Feature Id="Main">
		<ComponentRef Id="WPFApp" />
        <ComponentRef Id="WindowsService" />  
    </Feature>

	  <!-- Property to hold the executable path -->
	  <Property Id="WIX_SHELL_EXEC_TARGET" Value="VNCOverlayUI.exe" />

	  <!-- CustomAction to use WixShellExec for launching the application -->
	  <CustomAction Id="LaunchApplication"
					Directory="INSTALLFOLDER"
					ExeCommand="&quot;[INSTALLFOLDER][WIX_SHELL_EXEC_TARGET]&quot;"
					Execute="immediate"
					Return="check"
					Impersonate="no" />

	  <!-- Schedule the custom action to run after InstallFinalize -->
	  <InstallExecuteSequence>
		  <Custom Action="LaunchApplication" After="InstallFinalize" Condition="NOT Installed AND NOT REMOVE" />
	  </InstallExecuteSequence>
  </Package>
</Wix>