<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  <Component Id="ConfigUIShortcut" Guid="*">
		  <Shortcut Id="ConfigUIStartMenuShortcut"
					Name="OverlayConfigUI"
					Description="Overlay Config Menu"
					Target="[INSTALLFOLDER]VNCOverlayConfigUI.exe"
					WorkingDirectory="INSTALLFOLDER"
					Directory="ApplicationProgramsFolder"/>
		  <RemoveFolder Id="StartMenuFolder" On="uninstall"/>
		  <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]"
						 Name="installed" Type="integer" Value="1" KeyPath="yes"/>
	  </Component>

  </Fragment>
</Wix>
