<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  <Component Id="CleanupFiles" Guid="*">
		  <RemoveFile Id="RemoveAllFiles" Name="*.*" On="both"/>
		  <RemoveFolder Id="RemoveInstallDir" On="uninstall"/>
		  <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="cleanup" Type="integer" Value="1" KeyPath="yes"/>
	  </Component>
  </Fragment>
</Wix>
