<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  <Component Id="WindowsService" Guid="*">
		  <File Id="ServiceEXE" Source="E:\source\repos\VNCOverlay\VNCOverlay\bin\Release\VNCOverlay.exe" KeyPath="yes"/>
		  <ServiceInstall Id="ServiceInstaller"
                    Type="ownProcess"
                    Vital="yes"
                    Name="VNCOverlay"
                    DisplayName="VNCOverlay"
                    Description="Detects when a VNC conection is made on port 5900 and trigers the overlay"
                    Start="auto"
                    Account="LocalSystem"
                    ErrorControl="ignore" />
		  <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="VNCOverlay" Wait="yes" />
		  <File Id="ServiceConfig" Source="E:\source\repos\VNCOverlay\VNCOverlay\bin\Release\VNCOverlay.exe.config"/>
	  </Component>
  </Fragment>
</Wix>
