<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  <Component Id="WPFApp" Guid="*">
		  <File Id="WPFAppEXE" Source="E:\source\repos\VNCOverlay\VNCOverlayUI\bin\Release\VNCOverlayUI.exe" KeyPath="yes" Checksum="yes"/>
		  
		  <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Run" ForceDeleteOnUninstall="yes">
			  <RegistryValue Type="string" Name="VNCOverlayUI" Value="&quot;[INSTALLFOLDER]VNCOverlayUI.exe&quot;" />
		  </RegistryKey>
	  </Component>
  </Fragment>
</Wix>
