<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  <ComponentGroup Id="Files">
		  <Files Include="$(SolutionDir)VNCOverlay\bin\Release\net8.0-windows\*" >
			  <Exclude Files="$(SolutionDir)VNCOverlay\bin\Release\net8.0-windows\*.pdb" />
		  </Files>
	  </ComponentGroup>
  </Fragment>
</Wix>
