<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="VNCoverlay" Manufacturer="SplendidChip758" Version="1.0.0.0" UpgradeCode="b11d9435-df31-42bc-bd26-067b2740b892">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
	<MediaTemplate EmbedCab="yes" />
	  
	  <!-- Feature definition -->
    <Feature Id="MainFeature" Title="Main Feature" Level="1">
		<ComponentGroupRef Id="Files" />
		<ComponentRef Id="RegistryComponent" />
    </Feature>
	  	    
	<ui:WixUI Id="WixUI_Minimal"/>

	<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch VNCOverlay" />
	<WixVariable Id="WixUILicenseRtf" Value="LicenseAgreement.rtf" />
	  
	<!-- Include the custom action DLL -->
	  <!-- Include the custom action DLL and its dependencies -->
    <Binary Id="CustomActionBinary" SourceFile="E:\source\repos\VNCOverlay\CustomAction\bin\Release\net472\CustomAction.CA.dll" />
    <Binary Id="CustomActionDll" SourceFile="E:\source\repos\VNCOverlay\CustomAction\bin\Release\net472\CustomAction.dll" />
    <Binary Id="WixToolsetDtf" SourceFile="E:\source\repos\VNCOverlay\CustomAction\bin\Release\net472\WixToolset.Dtf.WindowsInstaller.dll" />  

    <CustomAction Id="LaunchApplication" 	  
				  BinaryRef="CustomActionBinary"               
                  DllEntry="CustomAction.CustomActions.LaunchApplication"
                  Execute="immediate"
                  Return="check"
                  Impersonate="no"/>
	  
	  <!-- Schedule the custom action correctly -->
    <InstallExecuteSequence>
      <Custom Action="LaunchApplication" After="InstallFiles" Condition="NOT REMOVE"/>
    </InstallExecuteSequence>
		
	<!-- Customizing the ExitDialog to include Launch option -->
	<UI>
		<DialogRef Id="ExitDialog" />
		<Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication" Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed"/>
	</UI>
  </Package>
</Wix>
